/* Base button styling */
.expo-btn {
    font-size: 16px;
    cursor: pointer;
    border-radius: var(--border-radius);
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}
.expo-btn>.btn-icon {
    width: 35px;
    height: 35px;
    padding: 5px;
}
/* ========================================= */
.common-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 30px;
    background-color: var(--button-primary-background);
    color: var(--background-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-base);
    font-weight: bold;
    transition: background 0.3s ease;
}

.common-btn:hover {
    background-color: var(--button-primary-background-hover);
}

.common-btn i {
    font-size: var(--font-size-base);
}