/* Overlay for web view */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.popup-overlay .title-close {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
}

.popup-overlay .content {
    padding: 20px 16px;
}

.popup-overlay .title-close h4 {
    margin-bottom: 0;
}

.popup-overlay.open {
    opacity: 1;
    visibility: visible;
}

/* Default popup content for web (centered modal) */
.popup-content {
    background: var(--background-white);
    border-radius: 8px;
    max-width: 645px;
    width: 90%;
    transform: scale(0.8);
    transition: transform 0.5s ease-in-out;
}

.popup-overlay.open .popup-content {
    transform: scale(1);
}

.popup-overlay.open .popup-content>.pop-btn {
    display: flex;
    justify-content: end;
    padding: 16px;
    border-top: 1px solid var(--border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Close button */
.close-btn {
    right: 15px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Bottom sheet styling for mobile */
@media (max-width: 768px) {
    .popup-overlay {
        align-items: flex-end;
        background: rgba(0, 0, 0, 0.3);
    }

    .popup-content {
        width: 100%;
        max-width: none;
        border-radius: 12px 12px 0 0;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
    }

    .popup-overlay.open .popup-content {
        transform: translateY(0);
    }
}